body {
    background-color: rgb(208, 228, 255);
    color: rgb(0, 0, 0);
    margin-left: 0%;
    margin-right: 0%;
}

.container {
    max-width: 1000px;
    padding: 2%;
    border-radius: 5%;
    margin-top: 10%;
    background-color: white;
}

h1 {
    text-align: center;
}

img {
    width: 290px;
    margin-left: 35%;
    margin-right: 0%;
}

p {
    text-align: center;
}

form {
    margin-left: 20%;
}